.sidebarOptions {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.sidebarOptions:hover {
    background-color: rgb(209, 203, 203);
    border-radius: 25px;
    /* color:aliceblue; */
    transition: color 100ms ease-out;
}
.sidebarOptions>.MuiSvgIcon-root{
    padding: 10px 15px;
}
.sidebarOptions>h2 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 3px;
}
.done_icon {
    color: black !important;
}
@media screen and (max-width:688px) {
    .sidebar_tweet{
        display:none;
    }
}